@()

@main("Welcome to St Georges Official Website") {

  <div class="max-width">
      <img src="@routes.Assets.versioned("images/badge.png")" class="topleft">
      <h1 class="mainHeader">St Georges Football Club</h1>
      <img src="@routes.Assets.versioned("images/badge.png")" class="topright">
    <div class="topnav">
      <a class="active" href="@routes.HomeController.index()">Home</a>
      <a href="@routes.TeamController.team()">The Team</a>
      <a href="@routes.FixturesController.index()">Fixtures</a>
      <a href="@routes.ResultsController.index()">Results</a>
      <a href="@routes.StatsController.index()">Stats</a>
    </div>
    </br>
    </br>
    <h2> The best football team hailing from St Georges Sports and Social Club</h2>
  </div>
}
