@()

@main("Welcome to The Forseters FC's Official Website") {
    <div class="topnav">
      <a class="active" href="@routes.HomeController.index()">Home</a>
      <a href="@routes.TeamController.team()">The Team</a>
      <a href="@routes.FixturesController.index()">Fixtures</a>
      <a href="@routes.ResultsController.index()">Results</a>
      <a href="@routes.StatsController.index()">Stats</a>
    </div>
    </br>
    </br>
    <main>
    <h2> The best football team hailing from the foresters arms in Horesehay</h2>
    <img src="@routes.Assets.versioned("images/pub.png")" style="width:660px;height:400px;">
    </br></br>
    </main>
}
