@()

@main("Welcome to St Georges Official Website") {

  <div class="column-two-thirds">
    <div>
    <img src="@routes.Assets.versioned("images/badge.png")" style="width:200px;height:200px;">
    <h1>St Georges Football Club</h1>
    <img src="@routes.Assets.versioned("images/badge.png")" style="width:200px;height:200px;">
    </div>
    </br>
    </br>
    </br>
    </br>
    <h2> The best football team hailing from St Georges Sports and Social Club</h2>
    <div>
    <a class="navLink" href="@routes.TeamController.team()">The Team</a>
    <a class="navLink" href="@routes.FixturesController.index()">Fixtures</a>
    <a class="navLink" href="@routes.ResultsController.index()">Results</a>
    </div>
  </div>
}
