@import models.Player
@(player: Player)

@main("Player Profile") {

  <a class="navLink" href="@routes.TeamController.team()">Back to the team</a>
  </br></br>

  <h1>@player.name.firstName @player.name.lastName's Profile</h1>
  </br>
  </br>

  <a>@player.name.firstName @player.name.lastName is a @player.position</a>
  </br>
  <a>Appearances: 0</a>
  </br>
  <a>Goals: 0</a>
  </br>
  <img src="@routes.Assets.versioned(s"images/${player.name.firstName} ${player.name.lastName}.jpg")" style="width:400px;height:400px;">
}
