@import models.Player
@(player: Player, appearances: Int, goals: Int, assists: Int, motms: Int, yellows: Int, reds: Int)

@main("Player Profile") {
    <div class="topnav">
      <a href="@routes.HomeController.index()">Home</a>
      <a class="active" href="@routes.TeamController.team()">The Team</a>
      <a href="@routes.FixturesController.index()">Fixtures</a>
      <a href="@routes.ResultsController.index()">Results</a>
      <a href="@routes.StatsController.index()">Stats</a>
    </div>
    <main>
    <h1>@player.name.firstName @player.name.lastName's Profile</h1>
    </br>
    <a>@player.name.firstName is a @player.position</a>
    </br>
    <a>Appearances: @appearances</a>
    </br>

    @if(goals >= 1){
        <a>Goals: @goals</a>
        </br>
    }

    @if(assists >= 1){
        <a>Assists: @assists</a>
        </br>
    }

    @if(motms >= 1){
        <a>Motm's: @motms</a>
        </br>
    }

    @if(yellows >= 1){
        <a>Yellow Cards: @yellows</a>
        </br>
    }

    @if(reds >= 1){
        <a>Red Cards: @reds</a>
        </br>
    }

    <img src="@routes.Assets.versioned(s"images/${player.name.firstName} ${player.name.lastName}.jpg")" style="padding:10px;width:300px;height:400px;">
    </main>
}