@import models.Result

@(goalScorers: List[GoalsPerScorer])

@main("Result") {
  <div class="max-width">
    <img src="@routes.Assets.versioned("images/badge.png")" class="topleft">
    <h1 class="mainHeader">St Georges Football Club</h1>
    <img src="@routes.Assets.versioned("images/badge.png")" class="topright">
    <div class="topnav">
      <a href="@routes.HomeController.index()">Home</a>
      <a href="@routes.TeamController.team()">The Team</a>
      <a href="@routes.FixturesController.index()">Fixtures</a>
      <a href="@routes.ResultsController.index()">Results</a>
      <a class="active" href="@routes.StatsController.index()">Stats</a>
    </div>
    <h1>Stats Page</h1>

    <h2>Top Goalscorers</h2>
    @for(player <- goalScorers) {
    <a href="@routes.ProfileController.index(player.player.index)">@player.player.name.firstName @player.player.name.lastName</a>
    <a>@player.goals</a>
    </br>
    }

  </div>
}
