@import models.Result

@(goalScorers: Seq[playerStats], assistsPeople: Seq[playerStats])

@main("Result") {
    <div class="topnav">
      <a href="@routes.HomeController.index()">Home</a>
      <a href="@routes.TeamController.team()">The Team</a>
      <a href="@routes.FixturesController.index()">Fixtures</a>
      <a href="@routes.ResultsController.index()">Results</a>
      <a class="active" href="@routes.StatsController.index()">Stats</a>
    </div>
    <main>
        <h1>Stats Page</h1>
        <section>
            <h2>Top Goals</h2>
            <a href="@routes.ProfileController.index(goalScorers.head.player.index)">@goalScorers.head.player.name.firstName @goalScorers.head.player.name.lastName: @goalScorers.head.goals</a>
            </br>
            <img src="@routes.Assets.versioned(s"images/${goalScorers.head.player.name.firstName} ${goalScorers.head.player.name.lastName}.jpg")" style="padding:10px;width:200px;height:200px;">
            </br>

            <h2>Other Goals</h2>
            @for(player <- goalScorers.tail) {
            <a href="@routes.ProfileController.index(player.player.index)">@player.player.name.firstName @player.player.name.lastName: @player.goals</a>
            </br>
            }
        </section>
        <section>
            <h2>Top Assists</h2>
            <a href="@routes.ProfileController.index(assistsPeople.head.player.index)">@assistsPeople.head.player.name.firstName @assistsPeople.head.player.name.lastName: @assistsPeople.head.assists</a>
            </br>
            <img src="@routes.Assets.versioned(s"images/${assistsPeople.head.player.name.firstName} ${assistsPeople.head.player.name.lastName}.jpg")" style="padding:10px;width:200px;height:200px;">
            </br>

            <h2>Other Assists</h2>
            @for(player <- assistsPeople.tail) {
            <a href="@routes.ProfileController.index(player.player.index)">@player.player.name.firstName @player.player.name.lastName: @player.assists</a>
            </br>
            }
        </section>
    </main>
}
