@import models.Team

@(team: Team)

@main("St Georges Team") {
<div class="column-two-thirds">
  <a class="navLink" href="@routes.HomeController.index()">Home Page</a>
  </br></br>

  <h1>The Team</h1>

  </br></br>

    <img src="@routes.Assets.versioned("images/teamPhoto.jpg")" style="width:660px;height:400px;">
    </br></br>

    <a>Keepers</a></br>
    @for(player <- team.keepers) {
    <a class="playerName" href="@routes.ProfileController.index(player.index)">@player.name.firstName @player.name.lastName</a>
    }

    </br></br>

    <a>Defenders</a></br>
    @for(player <- team.defenders) {
    <a class="playerName" href="@routes.ProfileController.index(player.index)">@player.name.firstName @player.name.lastName</a>
    }

    </br></br>

    <a>Midfielders</a></br>
    @for(player <- team.midfielders) {
    <a class="playerName" href="@routes.ProfileController.index(player.index)">@player.name.firstName @player.name.lastName</a>
    }

    </br></br>

    <a>Strikers</a></br>
    @for(player <- team.strikers) {
    <a class="playerName" href="@routes.ProfileController.index(player.index)">@player.name.firstName @player.name.lastName</a>
  }
</div>
}
