@import models.Team

@(team: Team)

@main("St Georges Team") {
  <h1>The Team</h1>

  <a href="@routes.HomeController.index()">Home Page</a>
  </br></br>

  <a>Keeper</a></br>
  @for(player <- team.keepers) {
  <a>Name: </a><a href="@routes.ProfileController.index(player.index)">@player.name</a>
  </br>
  }

  </br></br>

  <a>Defenders</a></br>
  @for(player <- team.defenders) {
  <a>Name: </a><a href="@routes.ProfileController.index(player.index)">@player.name</a>
  </br>
  }

  </br></br>

  <a>Midfielders</a></br>
  @for(player <- team.midfielders) {
  <a>Name: </a><a href="@routes.ProfileController.index(player.index)">@player.name</a>
  </br>
  }

  </br></br>

  <a>Strikers</a></br>
  @for(player <- team.strikers) {
  <a>Name: </a><a href="@routes.ProfileController.index(player.index)">@player.name</a>
  </br>
}
}
