@import models.Player

@(coaches: List[Player], keepers: List[Player], defenders: List[Player], midfielders: List[Player], strikers: List[Player], wingers: List[Player])

@main("The Turf Team") {
    <div class="topnav">
      <a href="@routes.HomeController.index()">Home</a>
      <a class="active" href="@routes.TeamController.team()">The Team</a>
      <a href="@routes.FixturesController.index()">Fixtures</a>
      <a href="@routes.ResultsController.index()">Results</a>
      <a href="@routes.StatsController.index()">Stats</a>
    </div>
    </br>
    </br>
    <main>

    <img src="@routes.Assets.versioned("images/team.jpg")" style="width:660px;height:400px;">
    </br></br>

    <a>Coaches</a></br>
    @for(player <- coaches) {
    <a class="playerName" href="@routes.ProfileController.index(player.index)">@player.name.firstName @player.name.lastName</a>
    }

    </br></br>

    <a>Keepers</a></br>
    @for(player <- keepers) {
    <a class="playerName" href="@routes.ProfileController.index(player.index)">@player.name.firstName @player.name.lastName</a>
    }

    </br></br>

    <a>Defenders</a></br>
    @for(player <- defenders) {
    <a class="playerName" href="@routes.ProfileController.index(player.index)">@player.name.firstName @player.name.lastName</a>
    }

    </br></br>

    <a>Midfielders</a></br>
    @for(player <- midfielders) {
    <a class="playerName" href="@routes.ProfileController.index(player.index)">@player.name.firstName @player.name.lastName</a>
    }

    </br></br>

    <a>Wingers</a></br>
    @for(player <- wingers) {
    <a class="playerName" href="@routes.ProfileController.index(player.index)">@player.name.firstName @player.name.lastName</a>
    }

    </br></br>

    <a>Strikers</a></br>
    @for(player <- strikers) {
    <a class="playerName" href="@routes.ProfileController.index(player.index)">@player.name.firstName @player.name.lastName</a>
    }
    </main>
}
